<html>
<head>
    <title>Hello!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
    {% if not isAdmin() %}
        <a href="/login">Log in</a>
    {% else %}
        <a href="/logout">Log out</a>
    {% endif %}
    </header>

    <main>
        <section id="backend">
            <select>
                <option value="">Select a backend</option>
                <option value="mysql">MySQL</option>
                <option value="mongo">MongoDB</option>
                <option value="neo4j">Neo4j</option>
            </select>
        </section>

        <section id="queries">
            <button class="dummy">...</button>
        </section>

        <section id="query">
            <label for="database">Database (for MongoDB)</label>
            <input type="text" name="database">
            <label for="collection">Collection (for MongoDB)</label>
            <input type="text" name="collection">
            <label for="query">Query</label>
            <textarea name="query" cols="30" rows="10"></textarea>
            <button class="execute" type="submit">Execute</button>
        </section>

        <section id="results">
            <p class="error"></p>
            <table id="table"></table>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>