a, a:visited {
    color: #00e;
}

a:hover {
    color: #a0e;
}

.error {
    color: #f03;
    font-weight: bold;
}

header {
    margin-bottom: 1em;
}

section#queries > button {
    margin: 0.5em 0.2em 1em;
}

section#queries > button.dummy {
    display: none;
}

section#queries > button:only-child {
    display: inline-block;
}

section#query > * {
    display: block;
}

section#query > input, section#query > textarea {
    margin-bottom: 0.5em;
}